<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_Cow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,264}</string>
                <key>spriteSourceSize</key>
                <string>{282,264}</string>
                <key>textureRect</key>
                <string>{{1621,264},{282,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_Cow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,280}</string>
                <key>spriteSourceSize</key>
                <string>{270,280}</string>
                <key>textureRect</key>
                <string>{{275,808},{270,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_Truck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,277}</string>
                <key>spriteSourceSize</key>
                <string>{284,277}</string>
                <key>textureRect</key>
                <string>{{1067,528},{284,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_Truck_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,280}</string>
                <key>spriteSourceSize</key>
                <string>{270,280}</string>
                <key>textureRect</key>
                <string>{{545,808},{270,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_Wild_Girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,271}</string>
                <key>spriteSourceSize</key>
                <string>{264,271}</string>
                <key>textureRect</key>
                <string>{{528,528},{264,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_Wild_Girl_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,280}</string>
                <key>spriteSourceSize</key>
                <string>{270,280}</string>
                <key>textureRect</key>
                <string>{{815,808},{270,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_Bonus_Mill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,297}</string>
                <key>spriteSourceSize</key>
                <string>{312,297}</string>
                <key>textureRect</key>
                <string>{{1355,808},{312,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_Bonus_Mill_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,280}</string>
                <key>spriteSourceSize</key>
                <string>{270,280}</string>
                <key>textureRect</key>
                <string>{{1085,808},{270,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_Pumpkin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,264}</string>
                <key>spriteSourceSize</key>
                <string>{280,264}</string>
                <key>textureRect</key>
                <string>{{0,0},{280,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_Pumpkin_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,264}</string>
                <key>spriteSourceSize</key>
                <string>{280,264}</string>
                <key>textureRect</key>
                <string>{{280,0},{280,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_Carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,264}</string>
                <key>spriteSourceSize</key>
                <string>{280,264}</string>
                <key>textureRect</key>
                <string>{{560,0},{280,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_Carrot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,264}</string>
                <key>spriteSourceSize</key>
                <string>{280,264}</string>
                <key>textureRect</key>
                <string>{{840,0},{280,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_Watermelon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{264,264}</string>
                <key>textureRect</key>
                <string>{{1120,0},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_Watermelon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{264,264}</string>
                <key>textureRect</key>
                <string>{{1384,0},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_Eggplant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{264,264}</string>
                <key>textureRect</key>
                <string>{{1648,0},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_Eggplant_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{264,264}</string>
                <key>textureRect</key>
                <string>{{0,264},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_Tomato.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,264}</string>
                <key>spriteSourceSize</key>
                <string>{280,264}</string>
                <key>textureRect</key>
                <string>{{264,264},{280,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_Tomato_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,264}</string>
                <key>spriteSourceSize</key>
                <string>{280,264}</string>
                <key>textureRect</key>
                <string>{{544,264},{280,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_Cart_with_hay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{264,264}</string>
                <key>textureRect</key>
                <string>{{824,264},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_Cart_with_hay_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,280}</string>
                <key>spriteSourceSize</key>
                <string>{270,280}</string>
                <key>textureRect</key>
                <string>{{1351,528},{270,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_Hen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{264,264}</string>
                <key>textureRect</key>
                <string>{{1088,264},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_Hen_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,280}</string>
                <key>spriteSourceSize</key>
                <string>{270,280}</string>
                <key>textureRect</key>
                <string>{{1621,528},{270,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_Rabbit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,299}</string>
                <key>spriteSourceSize</key>
                <string>{269,299}</string>
                <key>textureRect</key>
                <string>{{1667,808},{269,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_Rabbit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,275}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{792,528},{275,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_Pig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,264}</string>
                <key>spriteSourceSize</key>
                <string>{269,264}</string>
                <key>textureRect</key>
                <string>{{1352,264},{269,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_Pig_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,280}</string>
                <key>spriteSourceSize</key>
                <string>{275,280}</string>
                <key>textureRect</key>
                <string>{{0,808},{275,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Experience_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{264,264}</string>
                <key>textureRect</key>
                <string>{{0,528},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Experience_star_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{264,264}</string>
                <key>textureRect</key>
                <string>{{264,528},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SymbolsAtlas.png</string>
            <key>size</key>
            <string>{1936,1107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ae73ca66e4fc527e2dfb5d0c645c42c:c2b1e60b2459986f87765ab714039bc3:5b1af8ac47eda8bd0e84e9d24d33476c$</string>
            <key>textureFileName</key>
            <string>SymbolsAtlas.png</string>
        </dict>
    </dict>
</plist>
